.navbar-right(ng-controller="LoginCtrl")
	form.navbar-form(ng-hide='identity.isAuthenticated()')
		.form-group
			input.form-control(placeholder='Username', ng-model='username')
		.form-group
			input.form-control(placeholder='Password', type='password', ng-model='password')
		button.btn.btn-info(ng-click="signIn(username, password)") Sign In
		a.btn.btn-success(href="/signup") Sign Up
	//- logout, display name functionality
	ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
		li.dropdown
			a.dropdown-toggle(href="", data-toggle="dropdown") {{ identity.currentUser.name | titleize:identity.currentUser.name }}
				b.caret
			ul.dropdown-menu
				//- check if logged in user has 'admin' role
				li(ng-show="identity.currentUser.isAdmin()")
					a(href="/admin/users") User Admin
				li
					a(href='/profile') My profile
				li
					a(href="", ng-click="logout()") Sign Out