body
	padding-top 61px
	font-weight 500

.navbar
	padding-top 5px
	padding-bottom 5px
	font-size 16px

.navbar-header a.navbar-brand
	margin-top -15px
	margin-bottom -20px
	h6
		color #ccc

footer
	padding-left 15px
	padding-right 15px
	p
		border-top 1px solid #d7e0e2