extends ../includes/layout

block main-content
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href='/') MultiVision
					h6 -MEAN stack application
			.navbar-collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a(href='/') Home
					li
						a(href='/courses') Courses
				//- include authentication section in the navbar
				div(ng-include="'/views/navbar-login'")
	section.content
		div(ng-view)

	footer.container.text-center
		p &copy; 2014 MultiVision Corp Inc.