.container
	.jumbotron
		h1 MultiVision
		p a MongoDB, Express, Angular, Node application

	.row
		.col-md-6
			div(ng-include="'/views/main/featured-courses'")
		.col-md-6
			div(ng-include="'/views/main/new-courses'")