doctype html
html
	head
		title multiVision
		link(href='favicon.ico', rel='shortcut icon', type='image/x-icon')

		//- Toastr notifications styles
		link(rel='stylesheet', href='/bower_components/toastr/toastr.css')

		//- Ionic styles
		//- link(rel='stylesheet', href='/bower_components/ionic/ionic.css')
		
		//- Bootswatch styles
		link(rel='stylesheet', href='/stylesheets/spacelab.css')

		//- Custom styles
		link(rel='stylesheet', href='/stylesheets/site.css')
	body(ng-app='mean-multiVision')
		//- include information about logged in user
		include currentUser
		block main-content
		include scripts