script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/bower_components/angular/angular.min.js')
script(type='text/javascript', src='/bower_components/angular-resource/angular-resource.min.js')
script(type='text/javascript', src='/bower_components/angular-route/angular-route.min.js')
script(type='text/javascript', src='/bower_components/toastr/toastr.min.js')
script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.js')
	
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/controllers/main.js')
script(type='text/javascript', src='/js/controllers/login.js')
script(type='text/javascript', src='/js/controllers/userList.js')
script(type='text/javascript', src='/js/controllers/signup.js')
script(type='text/javascript', src='/js/controllers/profile.js')
script(type='text/javascript', src='/js/controllers/courseList.js')
script(type='text/javascript', src='/js/controllers/courseDetails.js')

script(type='text/javascript', src='/js/services/notifier.js')
script(type='text/javascript', src='/js/services/identity.js')
script(type='text/javascript', src='/js/services/user.js')
script(type='text/javascript', src='/js/services/auth.js')
script(type='text/javascript', src='/js/services/Course.js')
script(type='text/javascript', src='/js/services/CourseCache.js')
	
script(type='text/javascript', src='/js/filters/titleize.js')